
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-bottom: solid #7e7d7d 3px;
    background-color: #ffffff;
    padding-bottom: 15px;   
}
.links {
    float: right;
    list-style-type: none;
    margin-right: 275px;
    padding: 30px;

}
.links li {
    display: inline;
    font-family: 'georgia', times, times new roman, serif;
    font-size: 25px;
    padding: 10px;
    border-right: solid #777777 1px;
}
.links li:nth-last-child(1) {
    border-right: none;
}
.logo {
    position: fixed;
    top: 0;
    float: left;
    margin-left: 275px;
    margin-top: 0px;
    padding: 32px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    font-size: 45px;
    background-color:#175e80;
}

.about {
    font-family: 'georgia', times, times new roman, serif;
    font-size: 45px;
    color: #175e80;
}
.paragraph {
    border: solid #7e7d7d 1px;
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    color: #777777;
    padding: 35px;
}
.profile {
    float: left;
    border: solid 3px #175e80;
    border-radius: 50%;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #7e7d7d;
    border-top: solid 10px #175e80;
}
.contact {
    font-family: 'arial','helvetica neue', helvetica, sans-serif;
    color: #777777;
    font-size: 25px;
}
.message {
    width: 100%;
    border: solid #777777 2px;
    border-radius: 2px;
    height: 200px;
    resize: none;
}
.boxes {
    width: 100%;
    height: 25px;
    border: solid #777777 2px;
    border-radius: 2px;
    color: rgba(194, 192, 192, 0.609);
}
input[type="name"] {
    width: 100%;
    height: 25px;
    border: solid #777777 2px;
    border-radius: 2px;
    color: rgba(194, 192, 192, 0.609);
}
input[type="submit"] {
    background-color:#175e80;
    border: none;
    color: #777777;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type="reset"] {
    background-color: #175e80;
    border: none;
    color: #777777;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.images {
    height: 250px;
    width: 250px;
    position: relative;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 50px;
}
.grid-container > div {
    margin: 25px;
}
.text-box {
    position: absolute;
    font-size: 30px;
    background-color: #175e80;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
}